<div class="side-bar-header">
  <a href="#">MEMO</a>
</div>

<div class="side-contents">
  <div class="content">
    <%#= link_to current_user.name, edit_user_path(current_user) %>
    <a href="?">👤ユーザー</a>
  </div>
  <div class="content">
    <a href="?">📝メモ、フォルダ</a>
  </div>
  <div class="content">
    <a href="?">🔍ChatGPTに聞いてみる</a>
  </div>
</div>